/* Header Styles */
.header {
  background-color: var(--corPrincipal);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.625rem;
  position: relative;
  z-index: 10;
}

/* Logo Styles */
.logo img {
  max-height: 80px;
}

/* Navigation Styles */
.navigation {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: var(--branco);
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Icon Styles */
.icons {
  display: flex;
  gap: 1rem;
}

.icon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.icon:hover {
  color: var(--corTerciaria);
}

/* Responsividade */
@media (max-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: var(--corPrincipal);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  }

  .navigation.open {
    max-height: 300px; /* Ajuste conforme necessário */
    opacity: 1;
    padding: 1rem;
  }

  .menu-icon {
    display: block;
  }
}

@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 480px) {
  .logo img {
    max-height: 60px;
  }

  .icon {
    font-size: 1.2rem;
  }
}
