/* Header Styles */
.header {
  background-color: var(--corPrincipal);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  box-shadow: 4px 4px 4px 4px black;
  position: relative;
  z-index: 10;
}

/* Logo Styles */
.logo img {
  max-height: 80px;
}

/* Navigation Styles */
.navigation {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: var(--branco);
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Icon Styles */
.icons {
  display: flex;
  gap: 1rem;
}

.icon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.icon:hover {
  color: var(--corTerciaria);
}

/* Responsividade */
@media (max-width: 768px) {
  .navigation {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: var(--corPrincipal);
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .navigation.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 480px) {
  .logo img {
    max-height: 60px;
  }

  .icon {
    font-size: 1.2rem;
  }
}
