@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Banner Styles */
.banner {
  width: 100%;
  height: 400px;
  background-image: url("./../../../public/Logo.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  filter: blur(8px);
  z-index: 0;
}

/* Conteúdo do Banner */
.banner-content {
  position: relative;
  text-align: center;
  color: var(--branco);
  z-index: 1;
}

/* Título do Banner */
.banner-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Botão do Banner */
.banner-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  color: var(--branco);
  border: 1px solid var(--branco);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.335);
}

.banner-button:hover {
  background-color: rgba(0, 0, 0, 0.425);
  transform: scale(1.1);
  box-shadow: 4px 4px 20px 4px rgba(48, 48, 48, 0.712);
}

/* Responsividade */
@media (max-width: 768px) {
  .banner-title {
    font-size: 2.5rem;
  }

  .banner-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 480px) {
  .banner-title {
    font-size: 2rem;
  }

  .banner-button {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }
}
